<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRIbe Weather</title>

    <!-- CSS & Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Favicon -->
    <link rel="icon" href="{{url_for('static', filename='icon/sun.png')}}">
    <!-- images/nesto -->
</head>

<body style=" color: #fff; background-image: url(static/{{weather.icon1}}.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="heading">
        <img src="{{url_for('static', filename='Weather (3).png')}}" alt="Image" class="img">
    </div>

    <form method="POST" class="city">
        <div class="form-group">
            <input type="text" name="city" class="form-control" placeholder="Find your city" style="background-color: #1b262c; border-width: 1px; border-radius: 25px; width: 400px; text-align-last:center; color: #fff">
            <small class="form-text text-muted" style="text-decoration-color: #fff;">Type in a city name witch you want to see the
                temperature for</small>
        </div>
        <button type="submit" class="btn btn-primary" style="border-radius: 25px; width: 150px; height: 50px; margin-top: px; margin-bottom: 10px; font-size: x-large;">Find
            city</button>
    </form>

    <h2 style="color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">{{ weather.city}}, {{weather.country}}, {{weather.today}}</h2>

    <div class="card-group" style="margin-left: 50px; margin-right: 50px; color: #000;">
        <div class="card" style="border-radius: 35px;">
            <div class="card-body">
                <H3 style="text-transform: uppercase;"> (TODAY) {{weather.day1}}</H3>

                <p style="text-align: left; font-size: 22px;">Temperature: <b>{{weather.temperature1}}</b>‎ ° C <img src="http://openweathermap.org/img/w/{{ weather.icon1 }}.png" alt="Image"></p>
                <p style="text-align: left;">Description: {{weather.description1}}</p>
                <p style="text-align: left; padding-bottom: 20px;">Feels like: <b>{{weather.feels_like1}} ° C </b></p>
                <p>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/humidity (1).png')}}" alt="">  {{weather.humidity1}} %  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/pressure-indicator.png')}}" alt="">  {{weather.pressure1}}  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/wind.png')}}" alt="">  {{weather.wind_speed1}} m/s  </span>
                </p>
            </div>
        </div>
        <div class="card" style="border-radius: 35px;">
            <div class="card-body">
                <H3 style="text-transform: uppercase;">{{weather.day2}}</H3>

                <p style="text-align: left; font-size: 22px;">Temperature: <b>{{weather.temperature2}}</b>‎ ° C <img src="http://openweathermap.org/img/w/{{ weather.icon2 }}.png" alt="Image"></p>
                <p style="text-align: left;">Description: {{weather.description2}}</p>
                <p style="text-align: left; padding-bottom: 20px;">Feels like: <b>{{weather.feels_like2}} ° C </b></p>
                <p>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/humidity (1).png')}}" alt="">  {{weather.humidity2}} %  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/pressure-indicator.png')}}" alt="">  {{weather.pressure2}}  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/wind.png')}}" alt="">  {{weather.wind_speed2}} m/s  </span>
                </p>
            </div>
        </div>
        <div class="card" style="border-radius: 35px;">
            <div class="card-body">
                <H3 style="text-transform: uppercase;">{{weather.day3}}</H3>

                <p style="text-align: left; font-size: 22px;">Temperature: <b>{{weather.temperature3}}</b>‎ ° C <img src="http://openweathermap.org/img/w/{{ weather.icon3 }}.png" alt="Image"></p>
                <p style="text-align: left;">Description: {{weather.description3}}</p>
                <p style="text-align: left; padding-bottom: 20px;">Feels like: <b>{{weather.feels_like3}} ° C </b></p>
                <p>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/humidity (1).png')}}" alt="">  {{weather.humidity3}} %  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/pressure-indicator.png')}}" alt="">  {{weather.pressure3}}  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/wind.png')}}" alt="">  {{weather.wind_speed3}} m/s  </span>
                </p>
            </div>
        </div>
        <div class="card" style="border-radius: 35px;">
            <div class="card-body">
                <H3 style="text-transform: uppercase;">{{weather.day4}}</H3>

                <p style="text-align: left; font-size: 22px;">Temperature: <b>{{weather.temperature4}}</b>‎ ° C <img src="http://openweathermap.org/img/w/{{ weather.icon4 }}.png" alt="Image"></p>
                <p style="text-align: left;">Description: {{weather.description4}}</p>
                <p style="text-align: left; padding-bottom: 20px;">Feels like: <b>{{weather.feels_like4}} ° C </b></p>
                <p>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/humidity (1).png')}}" alt="">  {{weather.humidity4}} %  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/pressure-indicator.png')}}" alt="">  {{weather.pressure4}}  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/wind.png')}}" alt="">  {{weather.wind_speed4}} m/s  </span>
                </p>
            </div>
        </div>
        <div class="card" style=" border-radius: 35px;">
            <div class="card-body">
                <H3 style="text-transform: uppercase;">{{weather.day5}}</H3>

                <p style="text-align: left; font-size: 22px;">Temperature: <b>{{weather.temperature5}}</b>‎ ° C <img src="http://openweathermap.org/img/w/{{ weather.icon5 }}.png" alt="Image"></p>
                <p style="text-align: left;">Description: {{weather.description5}}</p>
                <p style="text-align: left; padding-bottom: 20px;">Feels like: <b>{{weather.feels_like5}} ° C </b></p>
                <p>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/humidity (1).png')}}" alt="">  {{weather.humidity5}} %  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/pressure-indicator.png')}}" alt="">  {{weather.pressure5}}  </span>
                    <span style="padding-right: 10px;"><img src="{{url_for('static', filename='icon/wind.png')}}" alt="">  {{weather.wind_speed5}} m/s  </span>
                </p>
            </div>
        </div>
    </div>

    <footer style="margin-top: 100px;">
        <form action="https://aqueous-fortress-48207.herokuapp.com/" class="subscribe-form" target="_blank">
            <button type="submit" class="btn btn-primary" style="border-radius: 25px; width: 150px; height: 50px;">Subscribe</button>
        </form>
        <p class="colophon" style="color: #000;">&copy Copyright 2019 TRIbe Weather App All rights reserved</p>
    </footer>

</body>

</html>